    html {
        position: relative;
        min-height: 100%;
    }
    
    body {
        font-family: 'Quicksand', sans-serif;
        margin-bottom: 100px;
    }
    
    section {
        margin: 5%;
    }
    
    nav {
        background: #9D6B53;
        text-decoration: none;
        a:hover {
            background-color: #CD9777;
            color: black;
            border-radius: 3%;
        }
    }
    
    .nav-link {
        color: white!important;
    }
    
    #indexNav {
        background: transparent;
        a:hover {
            background-color: #CD9777;
            color: black;
            border-radius: 3%;
        }
    }
    
    a {
        color: black;
        text-decoration: none;
    }
    /* Fonts */
    
    h1 {
        color: black;
        font-weight: 900;
        font-size: 3.5em;
        text-align: center;
    }
    
    #contactanos {
        text-align: center;
    }
    
    #loMasPedido {
        text-align: center;
        font-weight: 700;
        font-size: 2em;
    }
    
    .subtitulo {
        color: black;
        font-weight: 900;
        font-size: 3em;
        padding-bottom: 1em;
        text-align: center;
    }
    
    .nombreProducto {
        color: black;
        font-weight: 500;
    }
    /* grid SHOP*/
    
    .mainProducts {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .galeria {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-gap: 20px;
        padding: 2em;
        justify-items: center;
        background-color: #beb2ff27;
        border-radius: 2%;
        img {
            border-radius: 25px;
        }
    }
    
    .informacion {
        position: relative;
        &:hover {
            z-index: 999;
            .textoEncima {
                opacity: 1;
            }
        }
    }
    
    .textoEncima {
        position: absolute;
        left: 0;
        bottom: 0;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5);
        color: rgb(124, 87, 167);
        width: 100%;
        transition: .5s ease;
        opacity: 0;
        color: white;
        font-size: 20px;
        text-align: center;
        border-radius: 25px;
        margin-bottom: 4px;
    }
    /*Bienvenidos a Yarn*/
    
    .intro {
        margin-top: 10em;
        margin-bottom: 10em;
        background-color: #bbb9b8;
        margin-left: 0;
        margin-right: 0;
        padding-top: 5em;
        padding-bottom: 5em;
        p {
            padding: 3em;
        }
    }
    /* Productos 

.imagenCarousel {
    background-position: center;
    width: 100%;
}
*/
    
    .contenedorProducto {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        margin: 3rem;
        div {
            margin: 1rem;
            padding: 2rem;
            flex: 1 1 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    
    .contenedorProducto__row {
        flex-direction: row;
    }
    
    .contenedorProducto__row_reverse {
        flex-direction: row-reverse;
    }
    
    .imgMasPedidos {
        height: auto;
        max-width: 600px;
        padding: 0.5rem;
        width: 0;
        flex: 1 1 0;
        border-radius: 3%;
    }
    
    .loMasPedido {
        background-color: #e6b7a24b;
        margin: 0;
        margin-bottom: 1em;
        margin-top: 5em;
        padding: 5em;
    }
    /* Listas */
    
    ol {
        text-align: center;
        list-style-position: inside;
        li {
            color: black;
            font-size: 18px;
        }
    }
    
    ul {
        text-align: center;
        list-style-position: inside;
    }
    
    .iconosCrochet li {
        color: black;
        font-size: 18px;
        list-style-image: url(../img/iconoCrochet.png);
        text-align: center;
    }
    /* Formulario */
    
    form {
        border: none;
        border-radius: 40px;
        background-color: #beb2ff81;
        width: 800px;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 20vh auto;
        padding: 5rem;
    }
    /*Mobile*/
    
    @media (max-width: 1000px) {
        .form {
            width: 80vw;
            margin: 30vh auto 35vh auto;
            padding: 5vw;
        }
    }
    /* Footer*/
    
    footer {
        background: #bbb9b8;
        padding: 20px;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        clear: both;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        div {
            a {
                text-decoration: none;
                margin-left: 0.25rem;
                margin-right: 0.25rem;
            }
        }
    }