body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: relative;
}

body::after {
    content: '';
    display: block;
    height: 100px;
}

section {
    margin: 5%;
}


/* Nav bar*/

nav {
    background-image: linear-gradient(to bottom, #beb2ffb9, #beb2ff00);
    overflow: hidden;
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav a {
    float: left;
    color: #080808;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover {
    background-color: #beb2ff48;
    color: black;
}

nav a:active {
    background-color: #BDB2FF;
    color: white;
}

a {
    text-decoration: none;
}

.logo {
    height: 50px;
    width: 50px;
    object-fit: contain;
}


/* Fonts */

h1 {
    color: black;
    font-weight: 900;
    font-size: 3.5em;
    text-align: center;
}

#contactanos {
    text-align: center;
}

#loMasPedido {
    text-align: center;
    font-weight: 700;
    font-size: 2em;
}

.subtitulo {
    color: black;
    font-weight: 900;
    font-size: 3em;
}

.textoSubtitulo {
    color: rgb(207, 106, 59);
    font-weight: 700;
    line-height: 1.6;
}

.nombreProducto {
    color: black;
    font-weight: 500;
}

.precio {
    color: rgb(226, 75, 48);
    font-weight: 900;
}


/* grid */

.mainProducts {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.galeria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 20px;
    padding: 2em;
    justify-items: center;
    background-color: #beb2ff27;
    border-radius: 2%;
}

.galeria img {
    border-radius: 5%;
}


/* Productos */

.imagenCarousel {
    background-position: center;
    width: 100%;
}

.contenedorProducto {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 3rem;
}

.imgMasPedidos {
    height: auto;
    max-width: 600px;
    padding: 0.5rem;
    width: 0;
    flex: 1 1 0;
}

.contenedorProducto div {
    margin: 1rem;
    padding: 2rem;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Listas */

ol li {
    color: rgb(207, 106, 59);
}

ul li {
    color: rgb(207, 106, 59);
    list-style-image: url(./img/iconoCrochet.png);
}


/* Formulario */

fieldset {
    border: none;
    border-radius: 40px;
    background-color: #deb887;
    width: 800px;
    text-align: center;
    justify-self: center;
    margin: auto;
    padding: 3rem;
}

legend {
    padding-top: 5rem;
    color: black;
    font-weight: 900;
    font-size: 2em;
}


/* Footer */

footer {
    background-color: #beb2ff;
    padding: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    clear: both;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer div a {
    text-decoration: none;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}