<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&family=Secular+One&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/6ff2ab6f58.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.1/css/hover-min.css" integrity="sha512-SJw7jzjMYJhsEnN/BuxTWXkezA2cRanuB8TdCNMXFJjxG9ZGSKOX5P3j03H6kdMxalKHZ7vlBMB4CagFP/de0A==" crossorigin="anonymous" />
    <title>Productos</title>
</head>

<body>
    <header>
        <nav>
            <a href="../index.html"><img class="logo" src="../img/yarn-ball.png" alt="Logo"></a>
            <div>
                <a href="./shop.html">Productos</a>
                <a href="./sobreNosotros.html">Sobre nosotros</a>
                <a href="./comoComprar.html"> Medios de pagos</a>
                <a href="./contacto.html">Contacto</a>
            </div>
            <a href="./registrate.html"><i  class="fa fa-user-o" aria-hidden="true"></i></a>
        </nav>
    </header>

    <br>
    <section class="mainProducts">
        <!--grillas con fotos-->
        <h1>Mira nuestros productos!</h1>
        <section class="galeria">
            <div class="informacion hvr-grow">
                <a href="../views/presupuesto.html"><img src="../img/tienda/1.jpg" alt=""></a>
                <div class="textoEncima">
                    <h4>Manta</h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="informacion hvr-grow">
                <a href="../views/presupuesto.html"><img src="../img/tienda/2.jpg" alt=""></a>
                <div class="textoEncima">
                    <h4>Alfombra</h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="informacion hvr-grow">
                <a href="../views/presupuesto.html"><img src="../img/tienda/3.jpg" alt=""></a>
                <div class="textoEncima">
                    <h4>Alfombra</h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="informacion hvr-grow">
                <a href="../views/presupuesto.html"><img src="../img/tienda/4.jpg" alt=""></a>
                <div class="textoEncima">
                    <h4>Manta</h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="informacion hvr-grow">
                <a href="../views/presupuesto.html"><img src="../img/tienda/12.jpg" alt=""></a>
                <div class="textoEncima">
                    <h4>Alfombra</h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="informacion hvr-grow">
                <a href="../views/presupuesto.html"><img src="../img/tienda/9.jpg" alt=""></a>
                <div class="textoEncima">
                    <h4>Alfombra</h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="informacion hvr-grow">
                <a href="../views/presupuesto.html"><img src="../img/tienda/10.jpg" alt=""></a>
                <div class="textoEncima">
                    <h4>Pie de cama</h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="informacion hvr-grow">
                <a href="../views/presupuesto.html"><img src="../img/tienda/11.jpg" alt=""></a>
                <div class="textoEncima">
                    <h4>Pie de cama</h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="informacion hvr-grow">
                <a href="../views/presupuesto.html"><img src="../img/tienda/8.jpg" alt=""></a>
                <div class="textoEncima">
                    <h4>Organizador</h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="informacion hvr-grow">
                <a href="../views/presupuesto.html"><img src="../img/tienda/5.jpg" alt=""></a>
                <div class="textoEncima">
                    <h4>Carpeta/individual</h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="informacion hvr-grow">
                <a href="../views/presupuesto.html"><img src="../img/tienda/6.jpg" alt=""></a>
                <div class="textoEncima">
                    <h4>Carpeta/individual</h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="informacion hvr-grow">
                <a href="../views/presupuesto.html"><img src="../img/tienda/7.jpg" alt=""></a>
                <div class="textoEncima">
                    <h4>Pie de cama</h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </section>
        <h2 id="contactanos">No encontras lo que queres? <a href="../views/contacto.html">Consultanos!</a></h2>
    </section>
    <br>
    <br>
    <footer>
        <div>
            <a href="https://facebook.com/" target="_blank"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
            <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
            <a href="https://pinterest.com/" target="_blank"><i class="fa fa-pinterest fa-lg" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>
            <a href="mailto:comunidad@yarn.com" target="_blank"><i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i></a>
        </div>
        <p><i class="fa fa-copyright" aria-hidden="true"></i>2020 Yarn Todos los derechos reservados.</p>
    </footer>
</body>

</html>