<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&family=Secular+One&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/6ff2ab6f58.js"></script>
    <title>Productos</title>
</head>

<body>
    <header>
        <nav>
            <a href="../index.html"><img class="logo" src="../img/yarn-ball.png" alt="Logo"></a>
            <div>
                <a href="./shop.html">Productos</a>
                <a href="./sobreNosotros.html">Sobre nosotros</a>
                <a href="./comoComprar.html"> Medios de pagos</a>
                <a href="./contacto.html">Contacto</a>
            </div>
            <a href="./registrate.html"><i  class="fa fa-user-o" aria-hidden="true"></i></a>
        </nav>
    </header>

    <br>
    <section class="mainProducts">
        <!--grillas con fotos-->
        <h1>Mira nuestros productos!</h1>
        <div class="galeria">
            <img src="../img/tienda/1.jpg" alt="">
            <img src="../img/tienda/2.jpg" alt="">
            <img src="../img/tienda/3.jpg" alt="">
            <img src="../img/tienda/4.jpg" alt="">
            <img src="../img/tienda/12.jpg" alt="">
            <img src="../img/tienda/9.jpg" alt="">
            <img src="../img/tienda/10.jpg" alt="">
            <img src="../img/tienda/11.jpg" alt="">
            <img src="../img/tienda/8.jpg" alt="">
            <img src="../img/tienda/5.jpg" alt="">
            <img src="../img/tienda/6.jpg" alt="">
            <img src="../img/tienda/7.jpg" alt="">
        </div>
        <h2 id="contactanos">No encontras lo que queres? <a href="../views/contacto.html">Consultanos!</a></h2>
    </section>
    <br>
    <br>
    <footer>
        <div>
            <a href="https://facebook.com/" target="_blank"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
            <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
            <a href="https://pinterest.com/" target="_blank"><i class="fa fa-pinterest fa-lg" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>
            <a href="mailto:comunidad@yarn.com" target="_blank"><i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i></a>
        </div>
        <p><i class="fa fa-copyright" aria-hidden="true"></i>2020 Yarn Todos los derechos reservados.</p>
    </footer>
</body>

</html>