<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Mira los productos que tenemos para vos">
    <meta name="keywords" content="Yarn, Crochet, Mantas, Alfombras, Tejido, Compra, Venta">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/yarnCSS.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&family=Secular+One&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/6ff2ab6f58.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.1/css/hover-min.css" integrity="sha512-SJw7jzjMYJhsEnN/BuxTWXkezA2cRanuB8TdCNMXFJjxG9ZGSKOX5P3j03H6kdMxalKHZ7vlBMB4CagFP/de0A==" crossorigin="anonymous" />
    <title>Productos</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg fixed-top navbar-light navbar-scroll">
            <a class="navbar-brand" href="../index.html">
                <img src="../img/yarn-ball.png" width="40" height="40" alt="Logo Yarn" loading="lazy">
            </a>
            <div class="navbar-title">
            <p>YARN</p>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="./shop.html">Productos <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./comocomprar.html">Medios de pago</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./contacto.html">Contacto</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <a href="./registrate.html"><i  class="fa fa-user-o nav-link" aria-hidden="true"></i></a>
                </ul>

            </div>
        </nav>
    </header>


    <section class="mainProducts">
        <!--grillas con fotos-->

        <h1>Mira los diseños que tenemos para vos!</h1>
        <section class="galeria galeria--color--dark-theme">

            <div class="informacion hvr-grow">
                <a href="../views/presupuesto.html"><img src="../img/tienda/1.jpg" alt=" Manta Luna Roja"></a>
                <div class="textoEncima">
                    <h2>Luna roja</h2>
                    <p>Hermosa manta compuesta por Grannys, con un diseño floral. Los Grannys los podes combinar como más te gusten.</p>
                    <P>$300</P>
                </div>
            </div>

            <div class="informacion hvr-grow">
                <a href="../views/presupuesto.html"><img src="../img/tienda/2.jpg" alt="Alfombra Leia"></a>
                <div class="textoEncima">
                    <h2>Leia</h2>
                    <p>Es una alfombra muy bonita con diseño geométrico. Es hermosa para dar un toque de color a tus espacios.
                    </p>
                    <P>$300</P>
                </div>
            </div>
            <div class="informacion hvr-grow">
                <a href="../views/presupuesto.html"><img src="../img/tienda/3.jpg" alt="Alfombra Claroscuro"></a>
                <div class="textoEncima">
                    <h2>Claroscuro</h2>
                    <p>Es un lindo diseño al estilo mandala, es un producto que podes usar como una alfombra, un posavasos, etc. Usalo como más te guste.
                    </p>
                    <P>$300</P>
                </div>
            </div>
            <div class="informacion hvr-grow">
                <a href="../views/presupuesto.html"><img src="../img/tienda/4.jpg" alt="Manta Efecto Doppler"></a>
                <div class="textoEncima">
                    <h2>Efecto Doppler</h2>
                    <p>Es una manta muy colorida, realizada con varetas y Grannys. Está hecha con una lana muy suave y es ideal para decorar tu sillón o para regalar.
                    </p>
                    <P>$300</P>
                </div>
            </div>
            <div class="informacion hvr-grow">
                <a href="../views/presupuesto.html"><img src="../img/tienda/12.jpg" alt="Alfombra Dominó"></a>
                <div class="textoEncima">
                    <h2>Dominó</h2>
                    <p>Es una alfombra divina. Con un diseño Zig-Zag, es ideal para dar un toque de color a tu baño o espacios chicos.

                    </p>
                    <P>$300</P>
                </div>
            </div>
            <div class="informacion hvr-grow">
                <a href="../views/presupuesto.html"><img src="../img/tienda/9.jpg" alt="Alfombra Disco eterno"></a>
                <div class="textoEncima">
                    <h2>Disco eterno</h2>
                    <p>Es una alfombra preciosa. Con un diseño circular, es ideal para dar un toque de color a tu baño o espacios chicos.
                    </p>
                    <P>$300</P>
                </div>
            </div>
            <div class="informacion hvr-grow">
                <a href="../views/presupuesto.html"><img src="../img/tienda/10.jpg" alt="Manta Otra piel"></a>
                <div class="textoEncima">
                    <h2>Otra piel</h2>
                    <p>Es una manta muy linda y muy suave. Está realizada en punto vareta, con unos detalles que le quedan divinos. 
                    </p>
                    <P>$300</P>
                </div>
            </div>
            <div class="informacion hvr-grow">
                <a href="../views/presupuesto.html"><img src="../img/tienda/11.jpg" alt="Pie de cama Signos"></a>
                <div class="textoEncima">
                    <h2>Signos</h2>
                    <p>Es un pie de cama hermoso. Realizado en punto inglés, con una detalles y terminaciones que le quedan precioso.
                    </p>
                    <P>$300</P>
                </div>
            </div>
            <div class="informacion hvr-grow">
                <div class="noExcelsior">
                    <a href="../views/presupuesto.html"><img src="../img/tienda/8.jpg" alt="Organizador Excelsior"></a>
                <div class="textoEncima">
                    <h2>Excelsior</h2>
                    <p>Es un organizador muy práctico, para poner en el apoyabrazos del sillón. Está realizado con Grannys y puntos altos. 
                    </p>
                    <P>$300</P>
                </div>
                </div>
                
            </div>
        </section>
        <h3 class="text-center">No encontras lo que queres? <a href="../views/contacto.html">Consultanos!</a></h3>
    </section>

    <footer>
        <div>
            <a href="https://facebook.com/" target="_blank"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
            <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
            <a href="https://pinterest.com/" target="_blank"><i class="fa fa-pinterest fa-lg" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>
            <a href="mailto:comunidad@yarn.com" target="_blank"><i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i></a>
        </div>
        <p><i class="fa fa-copyright" aria-hidden="true"></i>2020 Yarn Todos los derechos reservados.</p>
    </footer>

</body>

</html>