<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&family=Secular+One&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/6ff2ab6f58.js"></script>
    <title>Sobre nosotros</title>
</head>

<body>
    <header>
        <nav>
            <a href="../index.html"><img class="logo" src="../img/yarn-ball.png" alt="Logo"></a>
            <a href="./shop.html">Productos</a>
            <a href="./sobreNosotros.html">Sobre nosotros</a>
            <a href="./registrate.html"><i id="user" class="fa fa-user-o" aria-hidden="true"></i></a>
        </nav>
    </header>
    <br>

    <section>
        <h2 class="subtitulo">¿Quienes somos?</h2>
        <br>
        <p class="textoSubtitulo">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero porro aliquam accusamus quam debitis odio, error optio similique, quod autem, harum exercitationem vel! Laudantium, ducimus ex consectetur dicta ab rem!Lorem ipsum, dolor sit amet
            consectetur adipisicing elit. Libero porro aliquam accusamus quam debitis odio, error optio similique, quod autem, harum exercitationem vel! Laudantium, ducimus ex consectetur dicta ab rem!Lorem ipsum, dolor sit amet consectetur adipisicing
            elit. Libero porro aliquam accusamus quam debitis odio, error optio similique, quod autem, harum exercitationem vel! Laudantium, ducimus ex consectetur dicta ab rem!</p>
        <p class="textoSubtitulo">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam cupiditate nemo, aliquid repudiandae qui molestias fugiat! Numquam laborum ullam, temporibus quia molestiae quos quibusdam est nostrum? Porro nam officia ipsa.Lorem ipsum, dolor
            sit amet consectetur adipisicing elit. Libero porro aliquam accusamus quam debitis odio, error optio similique, quod autem, harum exercitationem vel! Laudantium, ducimus ex consectetur dicta ab rem!</p>
        <p class="textoSubtitulo">Lorem ipsum dolor sit amet consectetur adipisicing elit. In nobis deleniti accusantium assumenda nemo, architecto, vitae itaque, suscipit aperiam unde dolorem voluptatem natus! A blanditiis consequatur, ipsa atque distinctio est!Lorem ipsum, dolor
            sit amet consectetur adipisicing elit. Libero porro aliquam accusamus quam debitis odio, error optio similique, quod autem, harum exercitationem vel! Laudantium, ducimus ex consectetur dicta ab rem!Lorem ipsum, dolor sit amet consectetur adipisicing
            elit. Libero porro aliquam accusamus quam debitis odio, error optio similique, quod autem, harum exercitationem vel! Laudantium, ducimus ex consectetur dicta ab rem!</p>
        <p class="textoSubtitulo">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut id est, voluptatibus ratione soluta cum itaque cumque adipisci sapiente optio unde enim dolorum libero assumenda voluptate quia iure ipsum tenetur!brLorem ipsum, dolor sit amet consectetur
            adipisicing elit. Libero porro aliquam accusamus quam debitis odio, error optio similique, quod autem, harum exercitationem vel! Laudantium, ducimus ex consectetur dicta ab rem!Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero
            porro aliquam accusamus quam debitis odio, error optio similique, quod autem, harum exercitationem vel! Laudantium, ducimus ex consectetur dicta ab rem!</p>
    </section>
    <br>
    <br>
    <footer>
        <a href="../views/comoComprar.html"> Medios de pagos</a>
        <a href="../views/contacto.html">Contacto</a>
        <p> Todos los derechos reservados.</p>
    </footer>
</body>

</html>